@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@500&display=swap");
$secondary: #868686;
$background: #fbfbfb;
$text-primary: #172a3a;
$text-secondary: #da4167;
$black: #141414;

.card {
  background-color: $text-secondary;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0px;
  cursor: pointer;
  width: 500px;
  color: $background;
  font-family: "Gilroy", sans-serif;
  p {
    font-size: 20px;
    color: $background;
    margin: 0;
    padding: 0;
    line-height: 138%;
    margin: 24px 0px;
    opacity: 0.8;
  }
}

@media screen and (max-width: 768px) {
  .main_div {
    width: 430px;
  }
}
