@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");

$secondary: #868686;
$background: #fbfbfb;
$text-primary: #172a3a;
$text-secondary: #da4167;
$black: #141414;

.navbar {
  position: fixed;
  top: 0;
  z-index: 100000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
  height: 10vh;
  width: 100%;
  background: $background;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

  a {
    color: $text-primary;
    text-decoration: none;
    font-family: "Gilroy", sans-serif;
    font-size: 32px;
    font-weight: bold;
    &:hover {
      color: $text-secondary;
    }
  }
  .btn {
    cursor: pointer;
    background: $text-secondary;
    color: $background;
    border: none;
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 60px;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    &:hover {
      background: $text-primary;
      color: $background;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0px 20px;

    .btn {
      padding: 14px 50px;
    }
  }
}
